<app-header></app-header>
<div class="wrapper">
  <div class="logo">
    <img src="assets/images/pic.jpg" alt="Image">
  </div>

  <form class="p-3 mt-3" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <span class="text-danger" >{{message}}</span>
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user r"></span>
          <input type="email" formControlName="email" id="userName" placeholder="email" (keyup)="validateEmail()" (keydown)="validateEmail()">
      </div>

      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" formControlName="password" id="pwd" placeholder="Password">
      </div>
      <button class="btn mt-3" [hidden]="myForm.invalid">Login</button>
  </form>
  <div class="text-center fs-6">
     <a [routerLink]="['/register']">Sign up</a>
  </div>
</div>
